body {
  margin: 0rem;
  margin-top: 0px;
  /* font-weight: 300; */
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  display: flex;
  position: relative;
  width: 100%;
  color: #110a57;
  align-items: center;
  height: 65px;
  /* border: 1px solid red; */
  border-bottom: 1px solid #dbdbdb;
  /* margin-bottom: 1rem; */
}

.Header-Container {
  display: flex;
  align-content: center;
  width: 100%;
  /* border: 1px solid green; */
  margin-right: 1rem;
  margin-left: 1rem;
}

.Header-Logo {
  display: flex;
  cursor: pointer;
  height: 50px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  /* border: 1px solid blue; */
  width: auto;
}
.bar {
  color: #333;
  font-weight: 400;
  font-size: 16;
  margin-top: 5;
  padding: 0px 24px;
}

.logo-word {
  margin-left: 1rem;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  margin-left: auto;
  align-self: center;
  font-weight: 300;
  /* width: 40%; */
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
}

.footer-note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 3rem;
  color: #110a57;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-icon {
  color: #333333;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 2rem;
}

.github-icon {
  color: #333333;
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-left: 1rem;
}

.mail-icon {
  color: #333333;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 1rem;
}

.linkedin-icon {
  color: #333333;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 1rem;
}

.toggle-off-icon {
  color: black;
  width: 48px !important;
  height: 48px !important;
  /* border: 1px solid red; */
  margin-left: 1rem;
  cursor: pointer;
}

.toggle-on-icon {
  margin-left: 1rem;
  cursor: pointer;
  width: 48px !important;
  height: 48px !important;
  /* border: 1px solid red; */
  color: #5bcdd5;
}

.header-option {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
  /* border: 1px solid red; */
  padding: 0.5rem 0rem;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.header-option:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #5bcdd5;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header-option:hover:after {
  width: 100%;
  left: 0;
}

/* .header-option:hover {
  color: #5bcdd5;
} */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin: 1rem;
  color: #110a57;
  /* background-color: palevioletred; */
}

.heading {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 1rem;
}

.heading p {
  font-size: 20px;
  /* margin: 0px; */
}

.general {
  display: flex;
  width: 100%;
  margin: 1rem 0rem 0rem 0rem;
  /* border: 1px solid peru; */
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 30%;
  /* box-shadow: 3px 5px 3px #888888; */
  box-shadow: 0 0px 2px rgba(23, 173, 232, 0.2),
    0 7px 22px rgba(23, 173, 232, 0.3);
  -webkit-box-shadow: 0 0px 2px rgba(23, 173, 232, 0.2),
    0 7px 22px rgba(23, 173, 232, 0.3);
  -moz-box-shadow: 0 0px 2px rgba(23, 173, 232, 0.2),
    0 7px 22px rgba(23, 173, 232, 0.3);
  flex-shrink: 2;
  border-radius: 5px;
  border-left: 1px solid rgba(23, 173, 232, 0.2);
}

.main {
  display: flex;
  flex-shrink: 1;
  /* border: 1px solid green; */
  background-color: #5bcdd5;
  border-radius: 5px;
  margin-left: 20px;
}

.facts {
  display: none;
}

.primary-loader-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.secondary-loader-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  /* border: 1px solid red; */
}

.loader {
  display: flex;
  align-self: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.quick-facts {
  color: #110a57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.coming-soon {
  /* border: 1px solid red; */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.coming-soon-wording {
  font-weight: 300;
}

.quick-facts-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  /* border: 1px solid red; */
}

.quick-facts-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.quick-facts-confirmed {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
  color: #696969;
}

.quick-facts-deaths {
  font-size: 50px;
  color: red;
}

.quick-facts-recovered {
  font-size: 50px;
  color: rgb(132, 202, 164);
}

.world-line-charts {
  display: flex;
  /* margin-top: 2rem; */
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.world-line-chart-confirmed {
  /* border: 1px solid green; */
  /* margin-right: 50px; */
}

.continental-bumpcard {
  margin-top: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.country-visuals {
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}

.country-line-charts {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  width: 80%;
  flex-shrink: 2;
}

.select-country {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  height: 100%;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* border: 1px solid purple; */
}

.select-country div select {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100px;
  justify-self: center;
  margin-top: 1rem;
  /* background-color: #208FFB; */
  /* color: white; */
  border-radius: 3px;
  padding: 5px;
  /* height: 15px; */
  /* border: 1px solid green; */
}

.country-line-chart {
  /* width: 100%; */
  /* border: 1px solid green; */
}

/* .axis-bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
} */

.yAxisLabel {
  font-size: 14px;
  /* color: #110a57; */
}

.xAxisLabel {
  font-size: 14px;
  color: #110a57;
}

.line-container {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 2rem;
}

.line-container-tabs {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* border: 1px solid blue; */
}

.line-container-tabs-list {
  padding: 0 1rem;
  /* border: 1px solid greenyellow; */
}

.line-container-children {
  width: 80%;
  flex-shrink: 3;
  /* border: 1px solid green; */
}

.tab-list {
  display: flex;
  padding: 0 1rem;
  /* border: 1px solid gray; */
}

.tab-list-item {
  list-style: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  /* border: 1px solid green; */
}

.tab-list-item:hover {
  background-color: #25a0fb;
  color: white;
}

.tab-list-active-item {
  background-color: #b9e1fb;
}

/* canvas styles */
#canvas-world,
#canvas-plane {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-globe {
}
#canvas-container {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
}

#canvas-hidden {
  display: none;
}

#tooltip {
  /* border: 1px solid red; */
  width: 160px;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: none;
  line-height: 200%;
  max-width: 250px;
  padding: 0px 8px;
  border-radius: 4px;
}

#tooltip-heading {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 600;
}
#tooltip-heading p {
  margin: 8px 0px;
}

#tooltip-body {
  font-size: 14px;
}

#tooltip-body-entry {
  margin: 0.5rem 0rem;
}
.symptoms {
  color: #110a57;
  line-height: 1.5;
  font-weight: 300;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  margin: 2rem 3rem;
  padding: 2rem;
}

.symptoms-link {
  display: flex;
  margin-top: 2rem;
  width: 15rem;
  align-items: center;
  border-radius: 14px;
  padding: 0.5rem 1rem;
  border: 1px solid #dfe1e5;
}

.symptoms-note {
  font-size: 12px;
}

.transmission {
  color: #110a57;
  font-weight: 300;
  line-height: 1.5;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
}

.symptoms-heading {
  font-weight: 400;
}

.transmission-heading {
  font-weight: 400;
}

.about-heading {
  font-weight: 400;
}

.about {
  color: #110a57;
  font-weight: 300;
  line-height: 1.5;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
}

#mobile-menu {
  display: none;
}

.mobileMenu {
  display: flex;
  width: 100%;
  padding: 10px;
}

.listItems {
  display: flex;
  color: white;
  font-size: 18px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-left: 1rem;
  margin-top: 5rem;
  line-height: 1.625;
  font-weight: normal;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 75%;
  height: fit-content;
}

.list-item {
  user-select: none;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
  /* border: 1px solid cyan; */
}

.close {
  display: flex;
  margin-left: auto;
  /* border: 1px solid blue; */
  height: fit-content;
  justify-content: flex-end;
}

@media only screen and (max-width: 1100px) {
  .quick-facts {
    color: #110a57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid red; */
  }

  .coming-soon {
    /* border: 1px solid red; */
    margin: 1rem 1rem 0rem 1rem;
  }

  .coming-soon-wording {
    font-weight: 300;
  }

  .quick-facts-heading {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    /* border: 1px solid red; */
  }

  .quick-facts-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
  }

  .quick-facts-confirmed {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    color: #696969;
  }

  .quick-facts-deaths {
    font-size: 2rem;
    color: red;
  }

  .quick-facts-recovered {
    font-size: 2rem;
    color: rgb(132, 202, 164);
  }
}

@media only screen and (max-width: 1000px) {
  .quick-facts-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .quick-facts-confirmed {
    font-size: 30px;
    color: #696969;
  }

  .quick-facts-deaths {
    font-size: 30px;
    color: red;
  }

  .quick-facts-recovered {
    font-size: 30px;
    color: rgb(101, 221, 155);
  }

  .line-container-tabs {
    width: 15%;
  }

  .line-container-children {
    width: 85%;
    flex-shrink: 3;
    /* border: 1px solid green; */
  }

  .line-container-tabs-list {
    padding: 0;
    /* border: 1px solid greenyellow; */
  }

  .select-country {
    width: 15%;
    margin-right: auto;
    /* margin-left: auto; */
  }
}

@media only screen and (max-width: 900px) {
  .logo-word {
    display: none;
  }

  .header-options {
    width: 65%;
  }

  .header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 30%; */
    /* border: 1px solid red; */
  }

  .sidebar {
    display: none;
  }

  .main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0px;
  }

  .facts {
    display: flex;
    border: 1px solid #dbdbdb;
    margin: 1rem 0rem;
    border-radius: 4px;
  }

  .line-container {
    display: flex;
    flex-direction: column;
  }

  .line-container-tabs {
    display: flex;
    width: 100%;
  }
  .tab-list-item {
    text-align: center;
  }
  .line-container-children {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .world-line-charts {
    flex-direction: column;
  }

  .country-visuals {
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .country-line-charts {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
  }

  .country-line-chart {
    margin-right: 0rem;
    /* border: 1px solid red !important; */
  }

  .select-country {
    width: 100%;
    /* border: 1px solid blue; */
  }

  .select-country div select {
    margin-top: 1rem;
  }

  .world-line-chart-confirmed {
    margin-right: 0px;
    /* border: 1px solid red; */
  }

  /* tooltip styles */
  #tooltip {
    width: 125px;
    padding: 0rem 5px;
    /* border: 1px solid red; */
  }

  #tooltip-heading {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
  }

  #tooltip-body {
    font-size: 11px;
    margin: 5px 0px;
  }

  #tooltip-heading p {
    margin: 0px;
  }

  #tooltip-body-entry {
    margin: 0rem;
  }
}

@media only screen and (max-width: 700px) {
  .Header {
    /* margin-top: 0.3rem; */
    height: 48px;
    /* border: 1px solid red; */
    /* border: none; */
  }

  .Header-Container {
    /* border: 1px solid green; */
    /* margin-top: 1rem; */
  }
  .Header-Logo {
    width: auto;
    height: 30px;
    font-size: 16px;
    /* border: 1px solid blue; */
  }
  .logo-word {
    display: none;
  }
  .logo {
    width: 30px;
  }

  .toggle-off-icon {
    margin-left: 0rem;
    margin-right: 1rem;
    width: 36px !important;
    height: 36px !important;
    /* border: 1px solid red; */
  }

  .toggle-on-icon {
    margin-left: 0rem;
    margin-right: 1rem;
    width: 36px !important;
    height: 36px !important;
    /* border: 1px solid red; */
    color: #5bcdd5;
  }

  #bar-1 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 3px 0px;
    margin-bottom: 3px;
  }

  #bar-2 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 3px 0px;
  }

  #bar-3 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 3px 0px;
    margin-top: 3px;
  }

  .header-options {
    display: none;
  }

  .header-option {
    margin-right: 3px;
    font-size: 14px;
  }

  .header-buttons {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    color: #110a57;
    margin-left: auto;

    /* border: 1px solid red; */
  }

  #mobile-menu {
    display: flex;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    touch-action: none;
    right: 0;
    left: 0;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    /* border: 1px solid blueviolet; */
  }

  .footer-note {
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .footer-icons {
    display: flex;
    /* border: 1px solid red; */
    justify-content: start;
    margin-top: 1rem;
  }

  .twitter-icon {
    margin-left: 0rem;
  }

  .heading {
    font-size: 18px;
  }
  .main {
    margin-left: 0px;
    height: 100%;
  }
  .sidebar {
    display: none;
  }
  .facts {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  .quick-facts {
    /* border: 1px solid red; */
    justify-self: center;
  }
  .quick-facts-heading {
    display: flex;
    justify-content: center;
  }
  .world-line-charts {
    flex-direction: column;
    /* border: 1px solid palevioletred; */
  }

  .world-line-chart-confirmed {
    /* border: 1px solid green; */
    margin-right: 0px;
  }

  .line-container {
    display: flex;
    flex-direction: column;
  }

  .line-container-tabs {
    display: flex;
    width: 100%;
  }

  .continental-bumpcard {
    display: none;
  }

  .line-container-children {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .symptoms {
    margin: 1rem;
    padding: 1rem;
  }

  .transmission {
    margin: 1rem;
    padding: 1rem;
  }

  .about {
    margin: 1rem;
    padding: 1rem;
  }
}
