body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  display: flex;
  align-items: center;
  height: 65px;
  /* border: 1px solid red; */
}

.Header-Container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 1rem;
  /* border: 1px solid green; */
}

.Header-Logo {
  display: grid;
  cursor: pointer;
  height: 50px;
  align-items: center;
  /* color: #164c60; */
  font-size: 24px;
  font-weight: 500;
  /* border: 1px solid blue; */
}

.header-options {
  display: flex;
  /* border: 1px solid blue; */
  margin-left: auto;
  align-self: center;
  margin-right: 75px;
  cursor: pointer;
}

.header-option {
  margin-right: 10px;
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.general {
  display: flex;
  width: 100%;
  /* border: 1px solid peru; */
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 30%;
  /* border: 1px solid blue; */
  flex-shrink: 2;
  border-radius: 5px;
}

.main {
  display: flex;
  flex-shrink: 1;
  /* border: 1px solid green; */
  border-radius: 5px;
  margin-left: 20px;
}

.facts {
  display: none;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50vh;
}

.loader {
  display: flex;
}

.quick-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  margin-top: 50px;
  width: 100%;
  /* border: 1px solid red; */
}

.quick-facts div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.quick-facts-heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.quick-facts-confirmed {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
  color: #696969;
}

.quick-facts-deaths {
  font-size: 50px;
  color: red;
}

.quick-facts-recovered {
  font-size: 50px;
  color: rgb(101, 221, 155);
}

@media only screen and (max-width: 1000px) {
  .quick-facts {
    margin-top: 20px;
  }

  .quick-facts-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .quick-facts-confirmed {
    font-size: 30px;
    color: #696969;
  }

  .quick-facts-deaths {
    font-size: 30px;
    color: red;
  }

  .quick-facts-recovered {
    font-size: 30px;
    color: rgb(101, 221, 155);
  }
}

@media only screen and (max-width: 700px) {
  .Header {
    height: 40px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
  }

  .Header-Container {
    margin-left: 0px;
    /* border: 1px solid green; */
  }

  .Header-Logo {
    height: 30px;
    font-size: 16px;
    /* border: 1px solid blue; */
  }

  .header-options {
    margin-right: 0px;
  }

  .header-option {
    margin-right: 3px;
    font-size: 14px;
  }
  .main {
    margin-left: 0px;
  }
  .sidebar {
    display: none;
  }
  .facts {
    display: flex;
    justify-content: center;
  }
  .quick-facts {
    /* border: 1px solid red; */
    justify-self: center;
  }
  .quick-facts-heading {
    display: flex;
    justify-content: center;
  }
}
