body {
  margin: 0rem;
  margin-top: 0px;
  /* font-weight: 300; */
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  display: flex;
  position: relative;
  width: 100%;
  color: #110a57;
  align-items: center;
  height: 65px;
  /* border: 1px solid red; */
  border-bottom: 1px solid #dbdbdb;
  /* margin-bottom: 1rem; */
}

.Header-Container {
  display: flex;
  align-content: center;
  width: 100%;
  /* border: 1px solid green; */
  margin-right: 1rem;
  margin-left: 1rem;
}

.Header-Logo {
  display: flex;
  cursor: pointer;
  height: 50px;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  /* border: 1px solid blue; */
  width: 30%;
}

.logo-word {
  margin-left: 1rem;
}

.header-options {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  margin-left: auto;
  align-self: center;
  font-weight: 300;
  cursor: pointer;
  width: 40%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.follow-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  /* border: 1px solid red; */
}

.follow-button button {
  width: 128px;
  background: #ffffff;
  border: 2px solid #e1e4eb;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  outline: none;
  color: #110a57;
}

.follow-button button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #5bcdd5;
  border: 2px solid #5bcdd5;
}
.header-option {
  font-size: 16px;
  line-height: 16px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.header-option:hover {
  color: #5bcdd5;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin: 1rem;
  color: #110a57;
  /* background-color: palevioletred; */
}

.heading {
  text-align: center;
}

.heading p {
  font-size: 20px;
  /* margin: 0px; */
}

.general {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  /* border: 1px solid peru; */
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 30%;
  box-shadow: 3px 5px 3px #888888;
  flex-shrink: 2;
  border-radius: 5px;
}

.main {
  display: flex;
  flex-shrink: 1;
  /* border: 1px solid green; */
  background-color: #5bcdd5;
  border-radius: 5px;
  margin-left: 20px;
}

.facts {
  display: none;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50vh;
}

.loader {
  display: flex;
}

.quick-facts {
  color: #110a57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.coming-soon {
  margin-left: 1rem;
}

.coming-soon-wording {
  font-weight: 300;
}

.quick-facts-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}

.quick-facts-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.quick-facts-confirmed {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
  color: #696969;
}

.quick-facts-deaths {
  font-size: 50px;
  color: red;
}

.quick-facts-recovered {
  font-size: 50px;
  color: rgb(132, 202, 164);
}

.world-line-charts {
  display: flex;
  /* margin-top: 2rem; */
  justify-content: center;
  /* border: 1px solid red; */
}

.world-line-chart-confirmed {
  /* border: 1px solid green; */
  margin-right: 50px;
}

.country-visuals {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  /* border: 1px solid red; */
}

.country-line-charts {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  width: 80%;
  flex-shrink: 2;
}

.select-country {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  height: 100%;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* border: 1px solid blue; */
}

.select-country div select {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100px;
  justify-self: center;
  margin-top: 1rem;
  /* background-color: #208FFB; */
  /* color: white; */
  border-radius: 3px;
  padding: 5px;
  /* height: 15px; */
  /* border: 1px solid green; */
}

.country-line-chart {
  margin-right: 50px;
  /* border: 1px solid green; */
}

/* .axis-bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
} */

.yAxisLabel {
  font-size: 14px;
  /* color: #110a57; */
}

.xAxisLabel {
  font-size: 14px;
  color: #110a57;
}

.line-container {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 2rem;
}

.line-container-tabs {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* border: 1px solid red; */
}

.line-container-tabs-list {
  padding: 0 1rem;
  /* border: 1px solid greenyellow; */
}

.line-container-children {
  width: 80%;
  flex-shrink: 3;
  /* border: 1px solid green; */
}

.tab-list {
  display: flex;
  padding: 0 1rem;
  /* border: 1px solid gray; */
}

.tab-list-item {
  list-style: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  /* border: 1px solid green; */
}

.tab-list-item:hover {
  background-color: #25a0fb;
  color: white;
}

.tab-list-active-item {
  background-color: #b9e1fb;
}

/* canvas styles */
#canvas-world,
#canvas-plane {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-globe {
}
#canvas-container {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
}

#canvas-hidden {
  display: none;
}

#tooltip {
  /* border: 1px solid red; */
  width: 160px;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: none;
  line-height: 200%;
  max-width: 250px;
  padding: 0px 8px;
  border-radius: 4px;
}

#tooltip-heading {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 600;
}
#tooltip-heading p {
  margin: 8px 0px;
}

#tooltip-body {
  font-size: 14px;
}

#tooltip-body-entry {
  margin: 0.5rem 0rem;
}

@media only screen and (max-width: 1000px) {
  .quick-facts-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .quick-facts-confirmed {
    font-size: 30px;
    color: #696969;
  }

  .quick-facts-deaths {
    font-size: 30px;
    color: red;
  }

  .quick-facts-recovered {
    font-size: 30px;
    color: rgb(101, 221, 155);
  }
}

@media only screen and (max-width: 900px) {
  .logo-word {
    display: none;
  }

  .header-options {
    width: 65%;
  }
  .sidebar {
    display: none;
  }

  .main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0px;
  }

  .facts {
    display: flex;
    border: 1px solid #dbdbdb;
    margin: 1rem 0rem;
    border-radius: 4px;
  }

  .line-container {
    display: flex;
    flex-direction: column;
  }

  .line-container-tabs {
    display: flex;
    width: 100%;
  }
  .tab-list-item {
    text-align: center;
  }
  .line-container-children {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .world-line-charts {
    flex-direction: column;
  }

  .country-visuals {
    flex-direction: column;
    /* border: 1px solid red; */
  }

  .country-line-charts {
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
  }

  .country-line-chart {
    margin-right: 0px;
    /* border: 1px solid red !important; */

  }

  .select-country {
    width: 100%;
    /* border: 1px solid blue; */
  }

  .select-country div select {
    margin-top: 1rem;
  }

  .world-line-chart-confirmed {
    margin-right: 0px;
  }

  /* tooltip styles */
  #tooltip {
    width: 125px;
    padding: 0rem 5px;
    /* border: 1px solid red; */
  }

  #tooltip-heading {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
  }

  #tooltip-body {
    font-size: 11px;
    margin: 5px 0px;
  }

  #tooltip-heading p {
    margin: 0px;
  }

  #tooltip-body-entry {
    margin: 0rem;
  }
}

@media only screen and (max-width: 700px) {
  .Header {
    height: 40px;
    /* border: 1px solid red; */
    border: none;
  }

  .Header-Container {
    /* border: 1px solid green; */
    margin-top: 1rem;
  }
  .Header-Logo {
    width: auto;
    height: 30px;
    font-size: 16px;
    /* border: 1px solid blue; */
  }
  .logo-word {
    display: none;
  }
  .logo {
    width: 30px;
  }

  .header-options {
    display: none;
  }

  .header-option {
    margin-right: 3px;
    font-size: 14px;
  }

  .follow-button {
    display: flex;

    justify-content: flex-end;
    justify-self: flex-end;
    height: 30px;
    width: 100%;
  }
  .follow-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
    color: #ffffff;
    background-color: #5bcdd5;
    border: 2px solid #5bcdd5;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    /* color: #110a57; */
  }

  .heading {
    font-size: 18px;
  }
  .main {
    margin-left: 0px;
    height: 100%;
  }
  .sidebar {
    display: none;
  }
  .facts {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  .quick-facts {
    /* border: 1px solid red; */
    justify-self: center;
  }
  .quick-facts-heading {
    display: flex;
    justify-content: center;
  }
  .world-line-charts {
    flex-direction: column;
    /* border: 1px solid palevioletred; */
  }

  .world-line-chart-confirmed {
    /* border: 1px solid green; */
    margin-right: 0px;
  }

  .line-container {
    display: flex;
    flex-direction: column;
  }

  .line-container-tabs {
    display: flex;
    width: 100%;
  }

  .line-container-children {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
